body {
    margin: 0;
    padding: 0;
    background: #F5F0ED;
    font-family: Calibri, Arial, Tahoma, sans-serif;
    font-size: 12px;
    color: #4c534a;
}

@font-face {
	font-family: Philosopher;
	src: url(../fonts/Philosopher-Regular.ttf);
}

a, .read-btn {
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

a {
	color: #ab978f;
    text-decoration: none;
}

a:hover {
	color: #4F9A55;
}
/*Description*/
.title{
	display: block;
	text-align: center;
	font-size: 16px;
}
.content{
	font-size: 15px;
}
.start_x100 {
  position: relative;
  left: 5px;
}
.content .wrapp{
	text-align: left;
}
.bold {
  font-weight: bold;
}
body>img{
  display:none;
}
.first{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.3;
}
.first:hover,
.second:hover,
.second2:hover,
.third:hover{
 opacity:1;
}
.second{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.3;
}
.second2{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.3;
}
.third{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.3;
}
/*Description*/
@keyframes anim {
	0% {transform: scale(1.1);}
	50% {transform: scale(1.2);}
	100% {transform: scale(1.0);}
}

@-webkit-keyframes anim {
	0% {transform: scale(1.1);}
	50% {transform: scale(1.2);}
	100% {transform: scale(1.0);}
}

.wrapper {
	width: 920px;
	margin: 0 auto;
	position: relative;
}

#header-v {
    position: absolute;
    width: 100%;
}

#header-inner {
    width: 0px;
    height: 540px;
    margin: 0 auto;
}

#header-video {
    width: 1920px;
    height: 540px;
    position: absolute;
    display: block;
    margin-left: -960px;
}

#header-video video {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
}

#header-bg {
	background: url(../images/logs-house.png) center top no-repeat;
    position: relative;
    overflow: hidden;
}

#header-top-bg {
    background: url(../images/header-top-bg.png) center top no-repeat;
}

#header-bottom-bg {
    background: url(../images/header-bottom-bg.png) center bottom no-repeat;
}

#btns-bg {
	background: url(../images/btns-bg.png) center no-repeat;
}

#content-bottom-bg {
	background: url(../images/content-bottom-bg.png) center bottom no-repeat;
    background-color: #F5F0ED;
}

#bottom-navbar-bg {
	background: url(../images/bottom-navbar-bg.png) center no-repeat;
}

#footer-bg {
	background: url(../images/footer-bg.png) center no-repeat;
}

header {
    width: 100%;
	height: 540px;
}

#menu {
	height: 50px;
	font: 14px Philosopher;
	text-transform: uppercase;
	text-align: center;
}

#menu ul {
	list-style: none;
	margin: 14px 0;
	padding: 0;
	display: inline-block;
}

#menu li {
	float: left;
	margin: 0 20px;
}

#menu li a {
	color: #c9ba9b;
}

#menu li a:hover {
	color: #F5F0ED;
}

#logo {
	display: block;
	width: 380px;
	height: 100px;
	margin: 165px 0 0 20px;
}

#btns {
	height: 210px;
	font: 24px Philosopher;
}

#btns a {
	color: #51621c;
}

#btns a:hover {
	color: #58b818;
	animation: anim 300ms ease-in-out;
	-webkit-animation: anim 300ms ease-in-out;
}

#btns a:nth-child(1) {
	margin: 8px 187px;
	display: block;
	float: left;
}

#btns a:nth-child(2) {
	margin: 48px 68px;
	display: block;
	float: left;
}

#btns a:nth-child(3) {
	margin: 22px 0 0 112px;
	display: block;
	float: left;
}

#content {
	color: #4a4840;
    overflow: hidden;
    padding-bottom: 100px;
}

#info {
	width: 610px;
	float: left;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

#info-title {
	background: url(../images/news-title.png) no-repeat;
	font: 22px Philosopher;
	text-transform: uppercase;
	color: #5a6357;
	text-align: center;
	margin-bottom: 24px;
}

.news-block {
	margin-top: 10px;
}

.news-block:nth-child(3) > .news-img {
	background: url(../images/news-img2.png) no-repeat;
}

.news-block:nth-child(4) > .news-img {
	background: url(../images/news-img3.png) no-repeat;
}

.news-img {
	background: url(../images/news-img1.png) no-repeat;
	width: 221px;
	height: 176px;
	float: left;
}

.news-info {
	float: right;
	width: 380px;
	margin-top: 10px;
}
.news-info img{
	width: 380px;
	margin: 5px;
}

.news-info h1 {
	font: 18px Philosopher;
	text-transform: uppercase;
	color: #618855;
	margin: 0;
	padding: 0;
}

.read-btn {
	background: url(../images/read-btn.png) no-repeat;
	width: 136px;
	height: 67px;
	display: block;
	float: right;
}

.read-btn:hover {
	background: url(../images/read-btn-hover.png) no-repeat;
}

.news-date {
	font-family: Philosopher;
	color: #afb59d;
	margin-top: 6px;
}

.news-date hr {
	float: right;
	width: 525px;
	border: none;
	background: #c7ccb7;
	height: 1px;
}

aside {
	width: 274px;
	border: 3px solid #DEDEDE;
	border-bottom: none;
	float: right;
	color: #5e5c54;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

#aside-title-first {
	background: url(../images/navbar-title-first.png) no-repeat;
	width: 277px;
	height: 75px;
	font: 18px Philosopher;
	text-transform: uppercase;
	text-align: center;
	color: #6d7969;
	padding-top: 6px;
}

.aside-title {
	background: url(../images/navbar-title.png) no-repeat;
	width: 277px;
	height: 105px;
	font: 18px Philosopher;
	text-transform: uppercase;
	text-align: center;
	color: #6d7969;
	line-height: 107px;
}

#status {
	padding-bottom: 15px;
    margin-top: -20px
}

.status-round1 {
    background: none;
    width: 64px;
    height: 64px;
    border: 8px solid rgba(0,0,0,.2);
    text-align: center;
    line-height: 64px;
    border-radius: 50%;
    color: #9aba4c;
    font-size: 19px;
    font-weight: bold;
    float: left;
    margin-left: 25px;
    position: relative;
}
.status-round2 {
    background: none;
    width: 64px;
    height: 64px;
    border: 8px solid rgba(0,0,0,.2);
    text-align: center;
    line-height: 64px;
    border-radius: 50%;
    color: #9aba4c;
    font-size: 19px;
    font-weight: bold;
    float: left;
    margin-left: 25px;
    position: relative;
}

.status-round1 span:after {
    content: 'x10000';
}


.status-round2 span:after {
    content: 'x7';
}

.progress {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -8px;
    left: -8px;
}

.progress > svg {
    height: 100%;
    display: block;
}

.status-img {
	background: url(../images/status-img.png) no-repeat;
	width: 106px;
	height: 175px;
	float: left;
	margin-left: 10px;
}

.status-img-hover {
	background: url(../images/status-img-hover.png) no-repeat;
	width: 106px;
	height: 175px;
}

.status-info1 {
	float: right;
    width: 143px;
	margin: 1px 20px 0 0;
}

.status-info2 {
	float: right;
    width: 143px;
	margin: 1px 20px 0 0;
}

.status-info1 h1 {
	font: 18px Philosopher;
	text-transform: uppercase;
	color: #6ea843;
	margin: 0 0 15px;
	padding: 0;
}

.status-info2 h1 {
	font: 18px Philosopher;
	text-transform: uppercase;
	color: #6ea843;
	margin: 0 0 15px;
	padding: 0;
}

.status-info1 .status-date:after {
    content: '23 Февраля';
}

.status-info2 .status-date:after {
    content: 'Збт 19 Февраля';
}

.server-1 {
    margin-bottom: 20px;
}

.server-1:last-child {
    margin: 0;
}

.server-2 {
    margin-bottom: 20px;
}

.server-2:last-child {
    margin: 0;
}

#forum {
	padding-bottom: 15px;
	line-height: 14px;
	padding: 0 10px;
}

.theme {
	font-size: 11px;
	color: #a2a9a0;
	padding: 10px 0;
	border-bottom: 1px solid #dedede;
}

.theme a {
	font-size: 14px;
	color: #499c2f;
}

.theme a:hover {
	color: #c88e4b;
}

.theme span a {
	color: #69c2d8;
	font-size: 11px;
}

.theme-info {
	float: left;
	margin: 12px 0 0 10px;
}

.theme-icon {
	background: url(../images/forum-icon.png) no-repeat;
	width: 50px;
	height: 52px;
	float: left;
}

#forum-btn {
	background: url(../images/forum-btn.png) no-repeat;
	width: 258px;
	height: 105px;
	display: block;
	margin-top: 20px;
}

#forum-btn:hover {
	background: url(../images/forum-btn-hover.png) no-repeat;
}

#bottom-navbar {
	height: 250px;
	padding-top: 50px;
	line-height: 16px;
	color: #37352f;
}

#bottom-navbar a {
	color: #37352f;
}

#bottom-navbar a:hover {
	color: #499c2f;
}

#bottom-navbar h1 {
	font: 16px Philosopher;
	text-transform: uppercase;
	color: #37352f;
	margin: 0 0 15px;
	padding: 0;
}

#btm-nav-menu {
	width: 214px;
	float: left;
	line-height: 18px;
}

#btm-nav-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#btm-nav-menu li::before {
	content: '';
	background: url(../images/arrow.png) no-repeat;
	width: 4px;
	height: 7px;
	float: left;
	margin: 6px 10px 0 0;
}

.btm-nav-top {
	width: 280px;
	float: left;
}

.btm-nav-top:nth-child(3) {
	width: 260px;
}

.btm-nav-top table {
	width: 160px;
	border-spacing: 0px;
	border-collapse: collapse;
}

.btm-nav-top span {
	color: #a19d91;
    margin-right: 8px;
}

.btm-nav-top tr:first-child > td > span.crown {
    background: url(../images/crown.png) no-repeat;
    width: 20px;
    height: 14px;
    text-align: center;
    font-size: 0;
    float: left;
    margin-left: -7px;
}

#banners {
    float: left;
}

#banners a {
	display: block;
	margin-bottom: 6px;
}

footer {
	height: 198px;
	line-height: 14px;
	padding-top: 102px;
	color: #b4a790;
}

footer a {
	color: #f3d9ac;
}

footer a:hover {
    color: #fff;
}

#up-btn {
	background: url(../images/up-btn.png) no-repeat;
	width: 46px;
	height: 46px;
	display: block;
	margin: 0 auto;
}

#up-btn:hover {
	background: url(../images/up-btn-hover.png) no-repeat;
}

#footer-info {
	font: 10px Philosopher;
	text-align: center;
	color: #37352f;
	margin-top: 30px;
}

#footer-bottom {
	margin-top: 52px;
}

#soc-icons {
	width: 300px;
	float: left;
}

#vk-btn, #fb-btn, #tw-btn, #yt-btn {
	width: 25px;
	height: 25px;
	float: left;
	margin-right: 10px;
}

#vk-btn {
	background: url(../images/soc-btns.png) no-repeat;
}

#vk-btn:hover {
	background: url(../images/soc-btns-hover.png) no-repeat;
}

#fb-btn {
	background: url(../images/soc-btns.png) no-repeat;
	background-position: -25px 0;
}

#fb-btn:hover {
	background: url(../images/soc-btns-hover.png) no-repeat;
	background-position: -25px 0;
}

#tw-btn {
	background: url(../images/soc-btns.png) no-repeat;
	background-position: -50px 0;
}

#tw-btn:hover {
	background: url(../images/soc-btns-hover.png) no-repeat;
	background-position: -50px 0;
}

#yt-btn {
	background: url(../images/soc-btns.png) no-repeat;
	background-position: -75px 0;
}

#yt-btn:hover {
	background: url(../images/soc-btns-hover.png) no-repeat;
	background-position: -75px 0;
}

#copy {
	width: 320px;
	float: left;
	text-align: center;
	margin-top: 6px;
}

#flame {
	float: right;
}

#flame img {
	float: left;
	margin: 2px 10px 0 0;
}

#l2top-btn {
    background: url(../images/l2top-btn.png) no-repeat;
    width: 128px;
    height: 86px;
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

#l2top-btn:hover {
    background: url(../images/l2top-btn-hover.png) no-repeat;
}

.clr {
	clear: both;
}